<p>By signing in you are able to personalize the calendar to your tastes; we'll remember those preferences the next time you visit the site. We won't ask for any information other than your e-mail address and we won't publish anything to any external sites without asking you first. And we definitely won't spam you.</p>

<%= button_tag 'Sign in with Facebook', class: 'btn btn-primary', id: 'fb-signin' %>
