/*
 *= require flatly
 *= require font-awesome
 *= require calendar
 */

@import 'flatly/variables';

// layout

footer p {
  text-align: center;
  font-size: small;
  margin-top: 10px;
}

// front page

.calendar-title {
  font-size: 30px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.calendar-pager {
  margin-top: 0px;
}

.calendar-tools {
  margin-top: 15px;
}

.trip-name {
  font-weight: bold;
}

.trip-period {
  font-style: italic;
}

// badges

.badge-hiking {
  background-color: @btn-primary-bg;
  color: @btn-primary-color;
}

.badge-backpacking {
  background-color: @btn-warning-bg;
  color: @btn-warning-color;
}

.badge-climbing {
  background-color: @btn-success-bg;
  color: @btn-success-color;
}

.badge-kayaking {
  background-color: @btn-info-bg;
  color: @btn-info-color;
}

.badge-rafting {
  background-color: @btn-default-bg;
  color: @btn-default-color;
}

.badge-camping {
  background-color: @btn-danger-bg;
  color: @btn-danger-color;
}

// labels

.label-hiking {
  background-color: @btn-primary-bg;
  color: @btn-primary-color;
}

.label-backpacking {
  background-color: @btn-warning-bg;
  color: @btn-warning-color;
}

.label-climbing {
  background-color: @btn-success-bg;
  color: @btn-success-color;
}

.label-kayaking {
  background-color: @btn-info-bg;
  color: @btn-info-color;
}

.label-rafting {
  background-color: @btn-default-bg;
  color: @btn-default-color;
}

.label-camping {
  background-color: @btn-danger-bg;
  color: @btn-danger-color;
}
