/*
 *= require twitter/bootstrap
 *= require font-awesome
 *= require calendar
 */

footer p {
  text-align: center;
  font-size: small;
  margin-top: 10px;
}

.trip-name {
  font-weight: bold;
}

.trip-period {
  font-style: italic;
}
